[Desktop Entry]
Type=Application
Name=Lixun
Comment=Spotlight-like launcher for Linux
Icon=lixun-logo-light
Exec=/usr/bin/lixund
NoDisplay=true
X-GNOME-Autostart-enabled=true
